/* 消除瀏覽器預設的間距 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif !important;
}

/* 設定整個網頁共用的設定 */
body {
    background: linear-gradient(135deg, #FFEBF0 0%, #EBF8FF 100%);
    color: #333; /* 主要文字顏色 */
    line-height: 1.6;
}

/*********************************************************/
/* 登入介面 */
div.login_page{
    width: 100%;       
    height: 100%;   
    display: flex;
    justify-content: center; /* 水平 */
    align-items: center;     /* 垂直 */
    min-height: 100vh;       /* 確保畫布跟視窗一樣大 */
    margin: 0;
}

div.login_box{
    width : 220px;
    height : 260px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* 倒圓角 */
}

div.login_box h3{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 30px;     /* 下方留白 */
    font-size: 24px;
}

div.login_input_group{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 550;
}

div.login_input_group label{
    margin-left: 10px;
    flex-shrink: 0;
}

div.login_input_group input{
    width: 60%;
}

div.login_button_group{
    display: flex;
    justify-content: space-between; /* 依然維持一左一右 */
    padding: 0 10px 15px 10px; 
    width: 100%;
    margin-top: auto; /* 確保在 login_box 底部 */
}

div.login_button_group button {
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 8px; /* 加大按鈕圓角 */
    border: none;         /* 移除原本的黑色框線 */
    font-size: 12px;
    font-weight: 550;
    background: rgba(221, 216, 216, 0.3); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

div#btn_login_left button:hover, 
div#btn_login_right button:hover {
    background: rgba(255, 255, 255, 0.5) !important; /* 移過去時變白、變亮 */
    border: 1px solid rgba(255, 255, 255, 0.8) !important;
    transform: translateY(-1px); /* 向上浮起感 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* 增加陰影 */
}

/*********************************************************/
/* 使用者介面 */
div.index_title h3{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;     /* 下方留白 */
    font-size: 24px;
}

div.personal_information{
    width : 220px;
    height : 260px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* 倒圓角 */
}